#new_book {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: bisque;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  word-wrap: break-word;
  text-align: center;
}



.cards div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
  padding: 20px;
  border: 10px dashed burlywood;
  border-radius: 10px;
}

.cards button {
  margin: 10px 0px;
}